<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caterbazar">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.caterbazar.activities.FAQActivity" />
        <activity android:name="com.caterbazar.activities.CatererProfileActivity" />
        <activity android:name="com.caterbazar.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.caterbazar.activities.VendorHomeActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name="com.caterbazar.activities.CartActivity" />
        <activity android:name="com.caterbazar.activities.ContactUsActivity" />
        <activity android:name="com.caterbazar.activities.AboutUsActivity" />
        <activity android:name="com.caterbazar.activities.SettingsActivity" />
        <activity android:name="com.caterbazar.activities.ViewVendorItemsActivity" />
        <activity android:name="com.caterbazar.activities.OrderHistoryActivity" />
        <activity android:name="com.caterbazar.activities.AddEditItemActivity" />
        <activity android:name="com.caterbazar.activities.SignUpActivity" />
        <activity android:name="com.caterbazar.activities.VendorPendingOrdersActivity" />
        <activity android:name="com.caterbazar.activities.OrderDetailsActivity" />
        <activity android:name="com.caterbazar.activities.EditProfileActivity" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
        <activity android:name="com.caterbazar.activities.CatererHomeActivity" />
        <!--
             Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_cart" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service android:name="com.caterbazar.utils.FirebaseNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.caterbazar.activities.ForgotPassword" />
    </application>

</manifest>